
.textoCentrado{
    text-align: $text-align-center;/*variable para alinear texto*/
    color: $color-blanco; 

}
main{
    background-image: url("../assets/img/manotech.jpeg");
    size: 100vh;
 
  
 
}

/* Main del index*/

/*.imagenesPrincipales{
   align-items: center;
} */

.imagenEconomia{     /*Agrego una animacion a la imagen de Economia*/
    transition: 10s;
    transform: rotateZ(180deg);
}
.imagenEconomia :hover{
    will-change: scroll-position;
}


.box{
   width: 50%;  /* px unidades de medida absolutas */
   height: 200px;
}
.padre{

    display:flex;
    width:auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; /* para centrar en el eje horizontal porque es un row*/
    align-items: center;  /* para centrar en el eje contrario*/
} 


.imagen{
   width:fit-content;
   height: fit-content;
   margin:0 auto;  /* para centrar en la pagina LAS IMAGENES  */
    object-fit: cover;
}

.imagenIndex{
    object-fit: cover;
    
}
/*
/*.imagenIndex a:hover{
    transform: escale(1.2);
}
*/
.centrado{
    text-align: $text-align-center; /*variable para alinear texto*/
   

}