



$colorback:rgb(10, 10, 10);
$sticky:sticky;
$color-blanco: antiquewhite;
$tipografia-general:'Roboto', sans-serif; /*cree una variable para la tipog*/
$text-align-center: center;
$color-blanco: blanchedalmond;
$contenedor-flex: flex;
$contenedor-grid: grid;
$justify-between: space-between;
$align-items: center;
$position-sticky:sticky;
